:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.header {
  background-color: var(--primary);
  text-align: center;
}

.options {
  background-color: var(--secondary);
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 95%;
}

button {
  width: 100%;
  margin: 5px;
}

.card {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid;
  width: 30%;
}

.genres {
  background-color: var(--secondary);
  margin-left: 2px;
  margin-right: 2px;
}

#app {
  display: flex;
  flex-direction: column;
}

.album-cover {
  float: left;
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: 7px;
  box-shadow: 0px 0px 15px;
}

.description {
  text-align: center;
}

body {
  background-image: linear-gradient(var(--secondary), var(--primary));
}

button {
  background-color: seagreen;
  transition: 0.2s;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
  margin-left: 7px;
  margin-right: 7px;
}

button:hover {
  scale: 1.05;
}
