:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.header {
  background-color: var(--primary);
  text-align: center;
}

.options {
  background-color: var(--secondary);
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 95%;
}

button {
  width: 100%;
  margin: 5px;
}

.card {
  background-color: var(--primary);
  display: flex;
}

.genres {
  background-color: var(--secondary);
}

#app {
  display: flex;
  flex-direction: column;
}
